@using Tradr.Models
@model List<Item>
@{
    ViewBag.Title = "Home Page";
}

<div><h7>@ViewBag.Header</h7></div>

 @foreach (var item in Model)
        {
            {
                Html.RenderPartial("SearchBox", item);
            }
    }