@using Tradr.Models
@model User
@{
    ViewBag.Title = "User Settings";
}

@using (Html.BeginForm("UserSettings", "User", FormMethod.Post, new { @id = "user-settings" }))
{
  
        <div class="col-sm-3 col-sm-offset-4">
            <div class="form-group">
                <label for="EmailAddress">Email: </label>
                <input type="text" id="EmailAddress" name="EmailAddress" class="form-control" value="@Model.EmailAddress"/>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-4">
            <div class="form-group">
                <label for="Password">Password: </label>
                <input type="password" id="Password" name="Password" class="form-control"  value="@Model.Password"/>
            </div>
        </div>
        <div class="col-sm-3 col-sm-offset-4"><input type="submit" id="Submit" class="pull-right btn" value="Submit"/></div> 
        
    }