@using System.Web.UI.WebControls
@using Tradr.Models
@model List<IdateObject>
@{
    ViewBag.Title = "History";
    ViewBag.Nav = "#nav5";
}

<div class="offers">
    <div class="text-center"><h1>History</h1></div>
    @foreach (var item in Model.OrderByDescending(x => x.DateTime))
    {
        if (item is Message)
        {
            ViewBag.view = OfferListView.History;
            Html.RenderPartial("SentMessage", (Message)item);
        }
        else if (item is Offer)
        {
            ViewBag.view = OfferListView.History;
            Html.RenderPartial("DesiredList", (Offer)item);
            ViewBag.view = OfferListView.History;
            Html.RenderPartial("OfferList", (Offer)item);
        }
    }
</div>