@using System.Collections
@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using Tradr.Models
@model List<IdateObject>
@{
    ViewBag.Title = "Inbox";
    ViewBag.Nav = "#nav4";
   // var GroupedItemList = Model.Offers.GroupBy(x => x.DesiredItems.FirstOrDefault().ItemId, x => x, (key, g) => new { ItemId = key, offers = g.ToList() });

    var first = true;
    }
<div class="offers" style="width: 90%; margin: 0 auto;">
    <div class="text-center"><h1>Inbox</h1></div>
    @foreach (var item in Model.OrderByDescending(x => x.DateTime))
    {
        if (item is Message)
        {
            ViewBag.view = OfferListView.Inbox;
            Html.RenderPartial("SentMessage", (Message)item);
        }
        else if (item is Offer)
        {
            ViewBag.view = OfferListView.Inbox;
            Html.RenderPartial("DesiredList", (Offer)item);
            ViewBag.view = OfferListView.Inbox;
            Html.RenderPartial("OfferList", (Offer)item);
        }
    }
</div>
<script>
    $(function () {

        $(window).load(function () {
            $(".Negotiation").each(function () {
                var negotiation = $(this);
                var nextOffer = negotiation.attr("data-next");
                negotiation.prepend("<div class='cover-negotiated'><a href='" + nextOffer + "'><button class='btn btn-success btn-lg'>View Newest Offer</button></a></div>");
                //$("<div id='cover-negotiated'><a href='" + nextOffer + "'><button class='btn btn-info'>View Newest Offer</button></a></div>").insertAfter(negotiation);
            });
        });

    });
</script>

