@using System.Web.UI.WebControls
@using Microsoft.Ajax.Utilities
@using Tradr.Models
@model List<IdateObject>
@{
    ViewBag.Title = "Outbox";
    ViewBag.Nav = "#nav3";
}
<div class="offers">
    <div class="text-center"><h1>Outbox</h1></div>
    @foreach (var item in Model.OrderByDescending(x => x.DateTime))
    {
        if (item is Message)
        {
            ViewBag.view = OfferListView.Outbox;
            Html.RenderPartial("SentMessage", (Message)item);
        }
        else if (item is Offer)
        {
            ViewBag.view = OfferListView.Outbox;
            Html.RenderPartial("DesiredList", (Offer)item);
            ViewBag.view = OfferListView.Outbox;
            Html.RenderPartial("OfferList", (Offer)item);
        }
    }
</div>

<script>
    $(function () {

        $(window).load(function () {
            $(".Negotiation").each(function () {
                var negotiation = $(this);
                var nextOffer = negotiation.attr("data-next");
                negotiation.prepend("<div class='cover-negotiated'><a href='" + nextOffer + "'><button class='btn btn-success btn-lg'>View Newest Offer</button></a></div>");
            });
        });

    });
</script>